.notification {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 0.5s, transform 0.5s;
}

.notification.info {
	color: #000;
	background-color: #d9edf7;
}

.notification.warning {
	color: #000;
	background-color: #fcf8e3;
}

.notification.error {
	color: #fff;
	background-color: #d9534f;
}

.notification.show {
	opacity: 1;
	transform: translateY(0);
}
