body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#form {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;

	width: 300px;
}

input,
select,
button {
	width: 100%;
	margin-bottom: 10px;
	padding: 8px;
	box-sizing: border-box;
}

input[type="checkbox"] {
	margin-bottom: 20px;
}

.error {
	border: 3px solid red;
}

button {
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}
